<robot name="root">
  <link name="link_coacd_convex_piece_0">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="1.82E-01" ixy="-1.06E-03" ixz="5.37E-03" iyy="1.52E-01" iyz="-1.73E-03" izz="4.77E-02"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="coacd_convex_piece_0.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="coacd_convex_piece_0.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00"/>
      </geometry>
    </collision>
  </link>
</robot>
